<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">{{title}}</h2>
			</div>
			<div class="panel-body">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="alert alert-danger text-center">
						{{text}}
					</div>
					<div class="text-center">
						{{#link-to "biller.settings.biller" class="btn btn-primary"}} {{strings.connection.buttonLabel}} {{/link-to}}
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
