<div class="row" id="invite">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default ">
			<div class="panel-heading">
				<h2 class="panel-title">{{strings.existingConfirmation.heading}}</h2>
			</div>
			<div class="panel-body">
				<div class="alert alert-info">
					<p>{{strings.existingConfirmation.text}}</p>
				</div>

				<form class="form-login form-horizontal" role="form">
					<div class="col-sm-12">
						<div class="btn-toolbar pull-right margin-top-sm">
							{{#link-to "login" class="btn btn-default"}} <span> {{strings.existingConfirmation.backButton}}</span>{{/link-to}}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
