<div class="row">
	<div class="col-md-12">
		<div class="col-md-10">
			{{#if uploading}}
				{{#if hasSingleFile}}
					<p>{{filename}}</p>
				{{else}}
					<p>Uploading {{numberOfFiles}} mail PDFs.</p>
				{{/if}}
			{{else}}
				<input id="fileUpload" type="file" name="files[]" accept=".pdf" multiple/>
			{{/if}}

		</div>
		<div class="col-md-2">
			<p>{{progress}}%</p>
		</div>

		{{#if errorMessage}}
		<div class="col-md-12">
			<div class="alert alert-danger" style="margin-bottom: 0px;">
				<p>{{errorMessage}}</p>
			</div>
		</div>
		{{/if}}

		{{#if uploading}}
			{{#unless hasSingleFile}}
			<div class="col-md-12" styles="max-height: 40px; overflow-y: scroll;">
			{{#each filenames as |file|}}
				<p>{{file.name}}</p>
			{{/each}}
			</div>
			{{/unless}}
		{{/if}}
	</div>
</div>
