.sectionHeading {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 2.7rem;
  font-family: 'ClashGrotesk-Medium', Arial, sans-serif;
  color: var(--color-primary-navy);
}

.connectionsContainer :global(.panel) {
  margin-bottom: 8px;
}

.connectionsContainer :global(.panel-body) {
  font-size: 1.6rem;
}

.connectionsContainer :global(.panel-body p),
.connectionsContainer :global(.panel-body strong),
.connectionsContainer :global(.panel-body .btn) {
  font-size: 1.6rem;
}

.panelPlaceholder {
  margin-bottom: 10px;
}
